
<div class="content">
<h1 class="title is-1"><%= @league.name %></h1>
<h2 class="title is-2"><%= @season.start_date.strftime("%Y") %> Season</h2>
</div>
<div class="columns">

  <div class="column is-half">
    <div class="box" style="background-color: #3498db; color: white;">
      <article class="media">
        
        <div class="media-content">
          <div class="content">
          <h2 class="title is-2 level-item" style="color: white">Teams</h2>
          <% @teams.each do |team| %>
            <p class="title is-5 level-item"><%= team.name %></p>
          <% end %>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="column is-half">
    <div class="box" style="background-color: #2ecc71; color: white;">
      <article class="media">
        
        <div class="media-content">
          <div class="content">
          <h2 class="title is-2 level-item" style="color: white">Schedule</h2>
          <% @weeks.each do |week| %>
            <div class="level-item">Week <%= week.num %></div>
            <% week.games.each do |game| %>
              <div class="level-item">
                <%= game.matches.first.team.name %> vs <%= game.matches.last.team.name %>
              </div>
            <% end %>
          <% end %>
          </div>
        </div>
      </article>
    </div>
  </div>


</div>
<div class="columns">
  <div class="column is-half">
    <div class="box" style="background-color: #3498db; color: white;">
      <article class="media">
        
        <div class="media-content">
          <div class="content">
          <h2 class="title is-2 level-item" style="color: white">Standings</h2>
          Placeholder for league standings
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="column is-half">
    <div class="box" style="background-color: #3498db; color: white;">
      <article class="media">
        
        <div class="media-content">
          <div class="content">
          <h2 class="title is-2 level-item" style="color: white">Game Creator</h2>
          <%= form_for @game, url: season_games_path(@season) do |f|  %>
            <%= f.fields_for :matches do |match_form| %>
              
              <%= match_form.collection_select(:team_id, @teams, :id, :name, {}, {style: "color: black;"}) %>
              
            <% end %>
            Week: <%= f.collection_select(:week_id, @season.weeks, :id, :num, {}, {style: "color: black;"}) %>
            <%= f.submit %>
          <% end %>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>